{include file="/common/_meta"}
</head>
<body>
{include file="/common/top"}
<div class="main-container container-fluid">
	<div class="page-container">
		            <!-- Page Sidebar -->
       {include file="/common/list"}
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                   <li>
                        <a href="#">系统</a>
                    </li>
                    <li>
                        <a href="{:url('nav/lst')}">导航管理</a>
                    </li>
                    <li class="active">添加导航</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->

            <!-- Page Body -->
            <div class="page-body">
                
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">新增导航</span>
                            </div>
                            <div class="widget-body">
                                <div id="horizontal-form">
                                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">导航名称</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="username" placeholder="" name="nav_name"  type="text"  required="">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">导航地址</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" name="nav_url" type="text">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">新标签打开</label>
                                            <div class="col-sm-6">
                                                <div class="radio" style="float: left; padding-right: 10px;">
                                                    <label>
                                                        <input value="1" name="nav_open" checked="checked" class="colored-blue"  type="radio">
                                                        <span class="text">是</span>
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input value="2" name="nav_open" class="colored-blue" type="radio">
                                                        <span class="text">否</span>
                                                    </label>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">导航位置</label>
                                            <div class="col-sm-6">
                                                <select name="nav_pos">
                                                    <option value="">请选择</option>
                                                    <option value="top">顶部</option>
                                                    <option value="mid">中间</option>
                                                    <option value="bottom">底部</option>
                                                </select>
                                            </div>

                                        </div>

                                       
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-default">保存信息</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
	</div>	
</div>

{include file="common/_footer"}
</body>
</html>