{include file="common/_meta"}
<body class="bg-ligtGary" data-type="category1">
	<div class="site-nav" id="site-nav">
	    <div class="w w1200">
	    	{include file="common/site-nav"}
	    </div>
	</div>
	<div class="header">
	    <div class="w w1200">
	        {include file="common/header"}
	    </div>
	</div>
    <div class="nav dsc-zoom" ectype="dscNav">
        <div class="w w1200">
            {include file="common/nav"}
        </div>
    </div>
    <div class="content article-content">
        <div class="w w1200 clearfix">
            {include file="common/cate_left"}
            <div class="article-main">
                <div class="am-hd">
                    <h2>{$cases.cate_name}</h2>
                    <div class="mod-list-sort fr mt10">
                        <form action="" name="search_form" method="post" class="article_search">
                            <div class="f-search">
                                <input name="keywords" type="text" id="requirement" value="" class="text" placeholder="请填写搜索内容" />
                                <input name="id" type="hidden" value="5" />
                                <input name="cur_url" id="cur_url" type="hidden" value="" />
                                <input type="submit" value="立即搜索" class="btn sc-redBg-btn ui-btn-submit" />
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="am-bd">
                    <ul class="artilce-list">
                        {volist name="artRes" id="arts"}
                        <li>
                            <h3><a title="{$arts.ar_title}" href="{if condition="$arts['ar_url']"} {$arts['ar_url']}" target="_black"> {else} {:url('index/article/index',array('ar_id'=>$arts['ar_id']))} "> {/if} {$arts.ar_title}</a></h3>
                            <p></p>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
	<div class="footer-new">
    	{include file="common/footer"}
	</div>

{include file="common/_footer"}

<script type="text/javascript">
	document.getElementById('cur_url').value = window.location.href;
</script>
<script type="text/javascript">
	$(function(){
		$(".article-side .side-goods").slide({
			effect: 'leftLoop'
		});
	});
</script>
</body>
</html>
