{include file="common/_meta"}
<body class="home_visual_body">

<div class="top-banner" style="background: rgb(255, 40, 125) none repeat scroll 0% 0%;">
    <div class="module w1200" data-type="range">
        <a href="#" target="_blank"><img src="__INDEX__/img/1494985021864887905.jpg" width="1200" height="80"></a>
        <i class="iconfont icon-cha" ectype="close"></i>
    </div>
    <div class="spec" data-spec="{&quot;picHeight&quot;:&quot;500&quot;,&quot;target&quot;:&quot;_blank&quot;,&quot;navColor&quot;:&quot;#ff287d&quot;,&quot;is_li&quot;:0,&quot;bg_color&quot;:[],&quot;pic_src&quot;:[&quot;https://demo.dscmall.cn/data/gallery_album/2/original_img/1494985021864887905.jpg&quot;],&quot;link&quot;:&quot;&quot;,&quot;sort&quot;:[&quot;1&quot;]}">
    </div>
</div>

<div class="site-nav" id="site-nav">
    <div class="w w1200">
        {include file="common/site_nav"}
    </div>
</div>

<div class="header">
    <div class="w w1200">
        {include file="common/header"}
    </div>
</div>

<div class="nav" ectype="dscNav">
    <div class="w w1200">
        {include file="common/nav"}
        <div class="nav-main">
			<ul class="navitems">
		        <li><a href="{:url('index/Index/index')}" class="curr">首页</a></li>
		        {volist name="navRes.mid" id="nav_mid"}
		        <li><a {if condition="$nav_mid['nav_open'] eq 1"} target="_black" {/if} href="{$nav_mid.nav_url}">{$nav_mid.nav_name}</a></li>
		        {/volist}
			</ul>
		</div>
    </div>
</div>

<div class="homeindex" ectype="homeWrap">
    <div class="content" style="min-height: 886px;">

        {include file="common/homeindex"}

		<div class="visual-item w1200" data-mode="h-need" data-purebox="homeAdv" data-li="1" ectype="visualItme" data-diff="0" style="display: block;">
            <div class="view">
                <div class="need-channel clearfix" id="h-need_0" data-type="range" data-lift="推荐">
					<div class="channel-column" style="background:url(https://demo.dscmall.cn/data/gallery_album/2/original_img/1494984987302153402.jpg) no-repeat;">
					    <div class="column-title">
					            <h3 style="color: #ffffff">优质新品</h3>
					        <p style="color: #ffffff">专注生活美学</p>
					    </div>
					    <div class="column-img"><img src="https://demo.dscmall.cn/data/gallery_album/2/original_img/1494985002375136884.png"></div>
					    <a href="" target="_blank" class="column-btn">去看看</a>
					</div>
					<div class="channel-column" style="background:url(https://demo.dscmall.cn/data/gallery_album/2/original_img/1494984989930757668.jpg) no-repeat;">
					    <div class="column-title">
					            <h3 style="color: #ffffff">潮流女装</h3>
					        <p style="color: #ffffff">春装流行款抢购</p>
					    </div>
					    <div class="column-img"><img src="https://demo.dscmall.cn/data/gallery_album/2/original_img/1494984989766362152.png"></div>
					    <a href="" target="_blank" class="column-btn">去看看</a>
					</div>
					<div class="channel-column" style="background:url(https://demo.dscmall.cn/data/gallery_album/2/original_img/1494984989391013089.jpg) no-repeat;">
					    <div class="column-title">
					            <h3 style="color: #ffffff">人气美鞋</h3>
					        <p style="color: #ffffff">新外貌“鞋”会</p>
					    </div>
					    <div class="column-img"><img src="https://demo.dscmall.cn/data/gallery_album/2/original_img/1494984990383161028.png"></div>
					    <a href="" target="_blank" class="column-btn">去看看</a>
					</div>
					<div class="channel-column" style="background:url(https://demo.dscmall.cn/data/gallery_album/2/original_img/1494984987606903394.jpg) no-repeat;">
					    <div class="column-title">
					            <h3 style="color: #ffffff">品牌精选</h3>
					        <p style="color: #ffffff">潮牌尖货 初春换新</p>
					    </div>
					    <div class="column-img"><img src="https://demo.dscmall.cn/data/gallery_album/2/original_img/1494984988032635434.png"></div>
					    <a href="" target="_blank" class="column-btn">去看看</a>
					</div>
					<div class="channel-column" style="background:url(https://demo.dscmall.cn/data/gallery_album/2/original_img/1494984990175755536.jpg) no-repeat;">
					    <div class="column-title">
					            <h3 style="color: #ffffff">护肤彩妆</h3>
					        <p style="color: #ffffff">春妆必买清单 低至3折</p>
					    </div>
					    <div class="column-img"><img src="https://demo.dscmall.cn/data/gallery_album/2/original_img/1494984991251825734.png"></div>
					    <a href="" target="_blank" class="column-btn">去看看</a>
					</div>
					<div class="spec" data-spec="" data-title=""></div>
				</div>
            </div>
        </div>

		<?php foreach($recShopcate as $k => $v):?>
		<div class="visual-item w1200" data-mode="homeFloor" data-purebox="homeFloor" data-li="1" ectype="visualItme" data-diff="0" style="display: block;">
			<div class="view">
				<div class="floor-content" data-type="range" id="homeFloor_0" data-lift="女装">
					<div class="floor-line-con floorOne floor-color-type-1" data-title="男装女装" data-idx="1" id="floor_1" ectype="floorItem">
					    <div class="floor-hd" ectype="floorTit">
					    	<i class="box_hd_arrow"></i>
					    	<i class="box_hd_dec"></i>
					        <div class="hd-tit"><?php echo $v['shopcate_name']; ?></div>
					        <div class="hd-tags">
					            <ul>
					                <li class="first current">
					                    <span>新品推荐</span>
					                    <i class="arrowImg"></i>
					                </li>
					                <?php foreach($v['children'] as $k1 => $v1):?>
					                <li data-catgoods="" class="first" ectype="floor_cat_content" data-flooreveval="0" data-visualhome="1" data-floornum="6" data-id="347">
					                	<span><?php echo $v1['shopcate_name']; ?></span>
					                    <i class="arrowImg"></i>
					                </li>
					            	<?php endforeach;?>
					            </ul>
					        </div>
					    </div>
					    <div class="floor-bd bd-mode-01">
					    	<div class="bd-left">
					    		<div class="floor-left-slide">
					    			<div class="bd">
					    				<div class="tempWrap" style="overflow:hidden; position:relative; width:232px">
					    					<ul style="width: 696px; left: -232px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
					    						<li style="float: left; width: 232px;"><a href=""><img src="__INDEX__/img/1494985255003388359.jpg"></a></li>
					    						<li style="float: left; width: 232px;"><a href=""><img src="__INDEX__/img/1494985255671031591.jpg"></a></li>
					    						<li style="float: left; width: 232px;"><a href=""><img src="__INDEX__/img/1494985255859372374.jpg"></a></li>
					    					</ul>
					    				</div>
					    			</div>
					    			<div class="hd"><ul><li class="">1</li><li class="on">2</li><li class="">3</li></ul></div>
					    		</div>
					    		<div class="floor-left-adv">
					    			<a href="" target="_blank"><img src="__INDEX__/img/1494984993812175408.jpg"></a>
					    			<a href="" target="_blank"><img src="__INDEX__/img/1494984993892207941.jpg"></a>
					    		</div>
					    	</div>
					    	<div class="bd-right">
					    		<div class="floor-tabs-content clearfix">
					    			<div class="f-r-main f-r-m-adv">
					    				<div class="f-r-m-item">
					    					<a href="" target="_blank">
					    						<div class="title">
					    							<h3>毛衣</h3>
					    							<span>满100减10</span>
					    						</div>
					    						<img src="__INDEX__/img/1494984997173604814.jpg">
					    					</a>
					    				</div>
					    				<div class="f-r-m-item">
					    					<a href="" target="_blank">
					    						<div class="title">
					                                <h3>随意搭</h3>
					                                <span>来潮我看</span>
					                            </div>
					                            <img src="__INDEX__/img/1494985255611006354.png">
					                        </a>
					                    </div>
					                    <div class="f-r-m-item">
					                        <a href="" target="_blank">
					                            <div class="title">
					                                <h3>外套</h3>
					                                <span>大牌抢好货</span>
					                            </div>
					                            <img src="__INDEX__/img/1494985257076782520.png">
					                        </a>
					                    </div>
					                    <div class="f-r-m-item">
					                        <a href="" target="_blank">
					                            <div class="title">
					                                <h3>连衣裙</h3>
					                                <span>春季流行款抢购</span>
					                            </div>
					                            <img src="__INDEX__/img/1494985261416235695.jpg">
					                        </a>
					                    </div>
					                    <div class="f-r-m-item f-r-m-i-double">
					                        <a href="" target="_blank">
					                            <div class="title">
					                                <h3>女士套装</h3>
					                                <span>新品低至5折</span>
					                            </div>
					                            <img src="__INDEX__/img/1494984998972685382.jpg">
					                        </a>
					                    </div>
					                </div>
									<?php foreach($v['children'] as $k1 => $v1):?>
					                <div class="f-r-main" ectype="floor_cat_347" style="display: none;">
					                    <ul class="p-list">
					                    	<?php foreach($v1['bestshopcate'] as $k2 => $v2):?>
					                    	<li class="opacity_img">
											    <div class="product">
											        <div class="p-img"><a href="goods.php?id=801" target="_blank"><img src="__UPLOADS__/{$v2.gs_midimg}" width="140" height="140"></a></div>
											        <div class="p-name"><a href="goods.php?id=801" title="<?php echo $v2['gs_name']?>"><?php echo $v2['gs_name']?></a></div>
											        <div class="p-price">
											            <span class="shop-price"><em>¥</em><?php echo $v2['gs_shopp']?></span>
											            <span class="original-price"><em>¥</em><?php echo $v2['gs_marktep']?></span>
											        </div>
											    </div>
											</li>
											<?php endforeach;?>
					                    </ul>
					                </div>
									<?php endforeach;?>
					            </div>
					        </div>
					    </div>
				        <div class="floor-fd">
				        	<div class="floor-fd-brand clearfix">
				        		<?php foreach($v['brand']['brand'] as $k1 => $v1):?>
		                        <div class="item">
					                <a href="<?php echo $v1['brand_url']?>" target="_blank">
					                    <div class="link-l"></div>
					                    <div class="img"><img src="__UPLOADS__/<?php echo $v1['brand_img']?>" title="<?php echo $v1['brand_name']?>"></div>
					                    <div class="link"></div>
					                </a>
					            </div>
					        	<?php endforeach;?>
		                    </div>
		                </div>
		            </div>
		            <div class="spec" data-spec="" data-title="undefined"></div>
		        </div>
		    </div>
		</div>
		<?php endforeach;?>
	</div>





    <div class="attached-search-container show" ectype="suspColumn">
        <div class="w w1200">
            {include file="common/nav"}



            <div class="mall-search">
               <div class="dsc-search">
                    <div class="form">
                        <form id="searchForm" name="searchForm" method="get" action="search.php" onsubmit="return checkSearchForm(this)" class="search-form">
                            <input autocomplete="off" name="keywords" type="text" id="keyword2" value="内衣" class="search-text">
                            <input type="hidden" name="store_search_cmt" value="0">
                            <button type="submit" class="button button-goods" onclick="checkstore_search_cmt(0)">搜商品</button>
                            <button type="submit" class="button button-store" onclick="checkstore_search_cmt(1)">搜店铺</button>
                        </form>
                    </div>
                </div>
            </div>


            <div class="suspend-login">
            	<a href="https://demo.dscmall.cn/user.php">登录</a>|<a href="https://demo.dscmall.cn/user.php?act=register">注册</a>
            </div>

            <div class="shopCart" id="ECS_CARTINFO">
				<div class="shopCart-con dsc-cm">
					<a href="https://demo.dscmall.cn/flow.php">
						<i class="iconfont icon-carts"></i>
						<span></span>
						<em class="count cart_num">0</em>
					</a>
				</div>
				<div class="dorpdown-layer" ectype="dorpdownLayer"><img src="__INDEX__/css/loadGoods.gif" class="load"></div>

				<script type="text/javascript">
					function changenum(rec_id, diff, warehouse_id, area_id)
					{
						var cValue = $('#cart_value').val();
					    var goods_number =Number($('#goods_number_' + rec_id).text()) + Number(diff);
					 
						if(goods_number < 1)
						{
							return false;
						}
						else
						{
							change_goods_number(rec_id,goods_number, warehouse_id, area_id, cValue);
						}
					}
					function change_goods_number(rec_id, goods_number, warehouse_id, area_id, cValue)
					{
						if(cValue != '' || cValue == 'undefined'){
						   var cValue = $('#cart_value').val(); 
						}   
						Ajax.call('flow.php?step=ajax_update_cart', 'rec_id=' + rec_id +'&goods_number=' + goods_number +'&cValue=' + cValue +'&warehouse_id=' + warehouse_id +'&area_id=' + area_id, change_goods_number_response, 'POST','JSON');                
					}
					function change_goods_number_response(result)
					{    
						var rec_id = result.rec_id;           
					    if (result.error == 0)
					    {
					       $('#goods_number_' +rec_id).val(result.goods_number);//更新数量
					       $('#goods_subtotal_' +rec_id).html(result.goods_subtotal);//更新小计
					       if (result.goods_number <= 0)
					        {
								//数量为零则隐藏所在行
					            $('#tr_goods_' +rec_id).style.display = 'none';
					            $('#tr_goods_' +rec_id).innerHTML = '';
					        }
					        $('#total_desc').html(result.flow_info);//更新合计
					        if($('ECS_CARTINFO'))
					        {//更新购物车数量
					            $('#ECS_CARTINFO').html(result.cart_info);
					        }

							if(result.group.length > 0){
								for(var i=0; i<result.group.length; i++){
									$("#" + result.group[i].rec_group).html(result.group[i].rec_group_number);//配件商品数量
									$("#" + result.group[i].rec_group_talId).html(result.group[i].rec_group_subtotal);//配件商品金额
								}
							}

							$("#goods_price_" + rec_id).html(result.goods_price);
							$(".cart_num").html(result.subtotal_number);
						}
						else if (result.message != '')
						{
							$('#goods_number_' +rec_id).val(result.cart_Num);//更新数量
							alert(result.message);
						}                
					}

					function deleteCartGoods(rec_id,index)
					{
						Ajax.call('delete_cart_goods.php', 'id='+rec_id+'&index='+index, deleteCartGoodsResponse, 'POST', 'JSON');
					}

					/**
					 * 接收返回的信息
					 */
					function deleteCartGoodsResponse(res)
					{
					  if (res.error)
					  {
					    alert(res.err_msg);
					  }
					  else if(res.index==1)
					  {
							Ajax.call('get_ajax_content.php?act=get_content', 'data_type=cart_list', return_cart_list, 'POST', 'JSON');
					  }
					  else
					  {
						  $("#ECS_CARTINFO").html(res.content);
						  $(".cart_num").html(res.cart_num);
					  }
					}

					function return_cart_list(result)
					{
						$(".cart_num").html(result.cart_num);
						$(".pop_panel").html(result.content);
						tbplHeigth();
					}
				</script>
			</div>
		</div>
	</div>
	<div class="lift lift-mode-one" ectype="lift" data-type="one" style="z-index: 100001; left: 265.5px; top: 50%;">
        <div class="lift-list" ectype="liftList">
<!--         	<div class="lift-item" ectype="liftItem" data-target="#h-need_0" title="推荐">
        		<span>推荐</span><i class="lift-arrow"></i>
        	</div>
        	<div class="lift-item" ectype="liftItem" data-target="#h-brand_0" title="品牌">
        		<span>品牌</span><i class="lift-arrow"></i>
        	</div>
        	<div class="lift-item" ectype="liftItem" data-target="#homeFloor_0" title="女装">
        		<span>女装</span><i class="lift-arrow"></i>
        	</div>
        	<div class="lift-item" ectype="liftItem" data-target="#homeFloor_1" title="鞋靴">
        		<span>鞋靴</span><i class="lift-arrow"></i>
        	</div>
        	<div class="lift-item" ectype="liftItem" data-target="#homeFloor_2" title="食品">
        		<span>食品</span><i class="lift-arrow"></i>
        	</div>
        	<div class="lift-item" ectype="liftItem" data-target="#homeFloor_3" title="家用">
        		<span>家用</span><i class="lift-arrow"></i>
        	</div>
        	<div class="lift-item" ectype="liftItem" data-target="#h-master_0" title="达人">
        		<span>达人</span><i class="lift-arrow"></i>
        	</div>
        	<div class="lift-item" ectype="liftItem" data-target="#h-storeRec_0" title="店铺">
        		<span>店铺</span><i class="lift-arrow"></i>
        	</div>
        	<div class="lift-item" ectype="liftItem" data-target="#guessYouLike" title="商品">
        		<span>商品</span><i class="lift-arrow"></i>
        	</div>
        	<div class="lift-item lift-item-top" ectype="liftItem"><i class="iconfont icon-returntop"></i>
        	</div>
 -->        </div>
    </div>


    <input name="warehouse_id" type="hidden" value="2">
	<input name="area_id" type="hidden" value="19">
    <input name="area_city" type="hidden" value="543">
    <input name="temp" type="hidden" value="backup_tpl_1">


	<div ectype="bonusadv_box">
		<div class="ejectAdv" ectype="ejectAdv" style="display: none;">
			<div class="ejectAdvbg"></div>
			<div class="ejectAdvimg">
	            <a href="#" target="_blank"><img src="__INDEX__/css/bonusadv_1501618595.png"></a>
	        	<a href="javascript:void(0);" class="ejectClose" ectype="ejectClose"></a>
	    	</div>
		</div>
	</div>
</div>




{include file="common/mui_right"}

<div class="footer-new">
    {include file="common/footer"}
</div>


{include file="common/_footer"}


<script type="text/javascript">
	/*首页轮播*/
	var slideType = $("*[data-mode='lunbo']").find("*[data-type='range']").data("slide");
	var length = $(".banner .bd").find("li").length;

	if(slideType == "roll"){
		slideType = "left";
	}

	if(length>1){
		$(".banner").slide({titCell:".hd ul",mainCell:".bd ul",effect:slideType,interTime:5000,delayTime:500,autoPlay:true,autoPage:true,trigger:"click",endFun:function(i,c,s){
			$(window).resize(function(){
				var width = $(window).width();
				if(!$('body').hasClass("festival_home")){
					s.find(".bd li").css("width",width);
				}
			});
		}});
	}else{
		$(".banner .hd").hide();
	}

	//楼层二级分类商品切换
	$("*[ectype='floorItem']").slide({titCell:".hd-tags li",mainCell:".floor-tabs-content",titOnClassName:"current"});

	$("*[ectype='floorItem']").slide({titCell:".floor-nav li",mainCell:".floor-tabs-content",titOnClassName:"current"});

	//第五套楼层模板
	$(".floor-fd-slide").slide({mainCell:".bd ul",effect:"left",autoPlay:false,autoPage:true,vis:4,scroll:1,prevCell:".ff-prev",nextCell:".ff-next"});

	//第六套楼层模板
	$(".floor-brand").slide({mainCell:".fb-bd ul",effect:"left",pnLoop:true,autoPlay:false,autoPage:true,vis:3,scroll:1,prevCell:".fs_prev",nextCell:".fs_next"});

	//楼层轮播图广告
	$("*[data-purebox='homeFloor']").each(function(index, element) {
		var f_slide_length = $(this).find(".floor-left-slide .bd li").length;
		if(f_slide_length > 1){
			$(element).find(".floor-left-slide").slide({titCell:".hd ul",mainCell:".bd ul",effect:"left",interTime:3500,delayTime:500,autoPlay:true,autoPage:true});
		}else{
			$(element).find(".floor-left-slide .hd").hide();
		}
    });
	//异步加载出首页个人信息、秒杀活动、品牌信息、首页弹出广告
    $(function(){
        var site_domain = "";
        var brand_id = $('*[ectype="homeBrand"]').find(".brand-list").data("value");
		var seckillid = $('[data-mode="h-seckill"]').find('[data-type="range"]').data('seckillid');
		var temp = "backup_tpl_1";

		var where = '';
		if(!brand_id){
			brand_id = '';
		}

        seckillid = JSON.stringify(seckillid);

        if(site_domain){
			$.ajax({
				type: "GET",
				url: "ajax_dialog.php", /*jquery Ajax跨域*/
				data: "act=getUserInfo&is_jsonp=1&brand_id="+brand_id + "&seckillid=" + seckillid + "&temp=" + temp,
				dataType:"jsonp",
				jsonp:"jsoncallback",
				success: homeAjax
			});
        }else{
            Ajax.call('ajax_dialog.php?act=getUserInfo', 'brand_id=' + brand_id + "&seckillid=" + seckillid + "&temp=" + temp, homeAjax , 'POST', 'JSON');
        }

		function ajax_Homeindex_Bonusadv(){
			var cfg_bonus_adv = "1";//是否开启首页弹出广告
			var suffix = "backup_tpl_1";

			if(cfg_bonus_adv == 1 && suffix){
				Ajax.call('ajax_dialog.php?act=ajax_Homeindex_Bonusadv', 'suffix=' + suffix, function(data){
					if(data.error != 1){
						$("[ectype='bonusadv_box']").html(data.content);
					}
				} , 'POST', 'JSON');
			}
		}

		ajax_Homeindex_Bonusadv();

		function homeAjax(data){
			$("*[ectype='user_info']").html(data.content);
			$("*[ectype='homeBrand']").html(data.brand_list);
			if(data.seckill_goods){
				$('[data-mode="h-seckill"]').show().find('[data-type="range"] .box-bd').html(data.seckill_goods);
				var sec_begin_time =  $('[data-mode="h-seckill"]').find('[data-type="range"] .box-bd').find('input[name="sec_begin_time"]').val();
				var sec_end_time = $('[data-mode="h-seckill"]').find('[data-type="range"] .box-bd').find('input[name="sec_end_time"]').val();
				if(sec_begin_time){
					$('[data-mode="h-seckill"]').find('[data-type="range"] .box-hd [ectype="time"]').attr("data-time",sec_begin_time)
				}else{
					$('[data-mode="h-seckill"]').find('[data-type="range"] .box-hd [ectype="time"]').attr("data-time",sec_end_time)
				}
				$("*[ectype='time']").each(function(){
					$(this).yomi();
				});
				//首页秒杀商品滚动
				$(".seckill-channel").slide({mainCell:".box-bd ul",effect:"leftLoop",autoPlay:true,autoPage:true,interTime:5000,delayTime:500,vis:5,scroll:1,trigger:"click"});
			}else{
				$('[data-mode="h-seckill"]').hide();
			}

			$.catetopLift();

			$(window).scroll(function(){
				var scrollTop = $(document).scrollTop();
				var navTop = $("*[ectype='dscNav']").offset().top;  //by yanxin

				if(scrollTop>navTop){
					$("*[ectype='suspColumn']").addClass("show");
				}else{
					$("*[ectype='suspColumn']").removeClass("show");
				}
			});
		}

		//重新加载商品模块
		$("[data-mode='guessYouLike']").each(function(){
			var _this = $(this);
			var goods_ids = _this.data("goodsid");
			var warehouse_id = $("input[name='warehouse_id']").val();
			var area_id = $("input[name='area_id']").val();
			var area_city = $("input[name='area_city']").val();
			if(goods_ids){
				Ajax.call('ajax_dialog.php?act=getguessYouLike', 'goods_ids=' + goods_ids + "&warehouse_id=" + warehouse_id + "&area_id=" + area_id + "&area_city=" + area_city, function(data){
					if(data.content){
						_this.find(".view .lift-channel ul").html(data.content);
					}
				} , 'POST', 'JSON');
			}
		});

		$("li[ectype='floor_cat_content'].current").each(function(){
			 get_homefloor_cat_content(this);
		});

		$("[ectype='identi_floorgoods'].current").each(function(){
			 get_homefloor_cat_content(this);
		});

		function checked_article_cat(){
			var cat_ids = '';

			$('[data-mode="insertVipEdit"] .tit a').each(function(){
				var val = $(this).data('catid');
				if(cat_ids){
					cat_ids = cat_ids + "," + val;
				}else{
					cat_ids = val;
				}
			});

			if(cat_ids){
				Ajax.call('ajax_dialog.php?act=checked_article_cat', 'cat_ids=' + cat_ids, function(data){
					$('[data-mode="insertVipEdit"] .vip_article_cat').html(data.content);

					//首页信息栏 新闻文章切换
					$(".vip-item").slide({titCell:".tit a",mainCell:".con"});
				} , 'POST', 'JSON');
			}
		}
		checked_article_cat();
                    //异步新品排行
                    $("[ectype='h-phb3']").each(function(){
			 var _this = $(this);
                             var activitytype = _this.data('activitytype');
                             var goodsids = _this.data('goodsids');
                             var warehouse_id = $("input[name='warehouse_id']").val();
			var area_id = $("input[name='area_id']").val();

                             Ajax.call('ajax_dialog.php?act=checked_home_rank', 'goodsids=' + goodsids + "&activitytype=" + activitytype + "&warehouse_id=" + warehouse_id + "&area_id=" + area_id, function(data){
					_this.html(data.content);
				} , 'POST', 'JSON');
		});
    });

	//楼层左侧栏悬浮框
	readyLoad();

	//会员名称*号 by yanxin
	/*var name = $(".suspend-login a.nick_name").text();
	var star = new Array();
	var nameLen = name.length > 2 ? name.length-2:"1";
	for(var i=1;i<=nameLen;i++){
		star.push("*");
	}
	star = star.join("");
	if(name.length > 2){
		var new_name = name[0] + star + name[name.length-1];
	}else{
		var new_name = name[0] + star;
	}
	$(".suspend-login a.nick_name").text(new_name);
	*/
	//去掉悬浮框 我的购物车
	$(".attached-search-container .shopCart-con a span").text("");

	/*首页可视化 第八套模板 楼层左侧前后轮播 */
	aroundSilder(".floor_silder")
</script>

</body>
</html>