
	<script type="text/javascript" src="__INDEX__/js/scroll_city.js"></script>
    <script type="text/javascript" src="__INDEX__/js/user.js"></script>
    <script type="text/javascript" src="__INDEX__/js/user_register.js"></script>
	<script type="text/javascript" src="__INDEX__/js/utils.js"></script>

    <script type="text/javascript" src="__INDEX__/js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="__INDEX__/js/sms.js"></script>
    <script type="text/javascript" src="__INDEX__/js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="__INDEX__/js/jquery.validation.min.js"></script>
    <script type="text/javascript" src="__INDEX__/js/dsc-common.js"></script>
	<script type="text/javascript" src="__INDEX__/js/jquery.purebox.js"></script>
