<div class="footer user-footer">
	<div class="dsc-copyright">
		<div class="w w1200">
			 
			<p class="footer-ecscinfo pb10">
				 
				<a href="#" >首页</a> 
				 
				| 
				 
				 
				<a href="#" >隐私保护</a> 
				 
				| 
				 
				 
				<a href="#" >联系我们</a> 
				 
				| 
				 
				 
				<a href="#" >免责条款</a> 
				 
				| 
				 
				 
				<a href="#" >公司简介</a> 
				 
				| 
				 
				 
				<a href="#" >意见反馈</a> 
				 
				 
			</p>
			 <p><span>©&nbsp;2015-2017&nbsp;tongpankt.com&nbsp;版权所有&nbsp;&nbsp;</span><span>ICP备案证书号:</span><a href="#">豫ICP备*****号-1</a>&nbsp;<a href="#">POWERED by童攀课堂</a></p>
        
        <p class="copyright_auth">&nbsp;</p>
					</div>
	</div>
    
    
    <div class="hidden">
        <input type="hidden" name="seller_kf_IM" value="" rev="" ru_id="" />
        <input type="hidden" name="seller_kf_qq" value="349488953" />
        <input type="hidden" name="seller_kf_tel" value="4000-000-000" />
        <input type="hidden" name="user_id" value="0" />
    </div>
</div>