{include file="/common/_meta"}
</head>
<body>
{include file="/common/top"}
<div class="main-container container-fluid">
	<div class="page-container">
		            <!-- Page Sidebar -->
       {include file="/common/list"}
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                   <li>
                        <a href="#">系统</a>
                    </li>
                    <li>
                        <a href="{:url('shopcate_ad/lst')}">关联左图管理</a>
                    </li>
                    <li class="active">添加关联左图</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->

            <!-- Page Body -->
            <div class="page-body">

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">新增关联左图</span>
                            </div>
                            <div class="widget-body">
                                <div id="horizontal-form">
                                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">顶级栏目关联左图</label>
                                            <div class="col-sm-6">
                                                <select name="ca_shopcateid">
                                                    <option>请选择</option>
                                                    {volist name="shopcateRes" id="scate"}
                                                    <option value="{$scate.shopcate_id}">{$scate.shopcate_name}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">图片</label>
                                            <div class="col-sm-6">
                                                <input id="username" name="ca_img" type="file">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">图片链接</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="username" name="ca_link" type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">图片定位</label>
                                            <div class="col-sm-6">
                                                <select name="ca_position">
                                                    <option>请选择</option>
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                    <option value="C">C</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-default">保存信息</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
	</div>
</div>

{include file="common/_footer"}
</body>
</html>