{include file="/common/_meta"}
</head>
<body>
{include file="/common/top"}

<div class="main-container container-fluid">
    <div class="page-container">
        <!-- Page Sidebar -->
       {include file="/common/list"}
        <!-- Page Content -->
        <div class="page-content">

            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                   <li>
                        <a href="#">系统</a>
                    </li>
                    <li>
                        <a href="{:url('link/lst')}">链接管理</a>
                    </li>
                    <li class="active">添加链接</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->

            <!-- Page Body -->
            <div class="page-body">
                <button type="button" tooltip="添加品牌" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url('link/add')}'"> <i class="fa fa-plus"></i> Add
                </button>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="flip-scroll">
                                    <table class="table table-bordered table-hover">
                                        <thead class="">
                                            <tr>
                                                <th class="text-center">ID</th>
                                                <th class="text-center">链接标题</th>
                                                <th class="text-center">链接url</th>
                                                <th class="text-center">链接logo</th>
                                                <th class="text-center">链接描述</th>
                                                <th class="text-center">链接类型</th>
                                                <th class="text-center">状态</th>
                                                <th class="text-center">操作</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {volist name="linklist" id="link"}
                                            <tr>
                                                <td align="center">{$link.link_id}</td>
                                                <td>{$link.link_title}</td>
                                                <td align="center">{$link.link_url}</td>
                                                <td align="center">
                                                {if condition="$link['link_logo'] neq ''"}
                                                    <img height="30" src="__UPLOADS__/{$link.link_logo}">
                                                 {else /}
                                                    暂无图片
                                                {/if}
                                                </td>
                                                <td>{$link.link_description|cut_str=###,50}</td>
                                                <td align="center">
                                                {if condition="$link['link_type'] eq 1"}
                                                    文字
                                                {else /}
                                                    图片
                                                {/if}
                                                </td>
                                                <td align="center">
                                                {if condition="$link['link_status'] eq 1"}
                                                    显示
                                                {else /}
                                                    禁用
                                                {/if}
                                                </td>
                                                <td align="center">
                                                    <a href="{:url('edit',array('link_id'=>$link['link_id']))}" class="btn btn-primary btn-sm shiny">
                                                        <i class="fa fa-edit"></i> 编辑
                                                    </a>
                                                    <a href="#" onClick="warning('确实要删除吗', '{:url('del',array('link_id'=>$link['link_id']))}')" class="btn btn-danger btn-sm shiny">
                                                        <i class="fa fa-trash-o"></i> 删除
                                                    </a>
                                                </td>
                                            </tr>
                                            {/volist}
                                        </tbody>
                                        
                                    </table>
                                </div>
                                <div>{$linklist->render()}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
	</div>	
</div>

{include file="common/_footer"}
</body>
</html>