    <script type="text/javascript" src="__INDEX__/js/suggest.js"></script>
	<script type="text/javascript" src="__INDEX__/js/scroll_city.js"></script>
	<script type="text/javascript" src="__INDEX__/js/utils.js"></script>
	<script type="text/javascript" src="__INDEX__/js/warehouse.js"></script>
	<script type="text/javascript" src="__INDEX__/js/warehouse_area.js"></script>
    
    <script type="text/javascript" src="__INDEX__/js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="__INDEX__/js/jquery.yomi.js"></script>
    <script type="text/javascript" src="__INDEX__/js/cart_common.js"></script>
    <script type="text/javascript" src="__INDEX__/js/parabola.js"></script>
    <script type="text/javascript" src="__INDEX__/js/cart_quick_links.js"></script>	
    <script type="text/javascript" src="__INDEX__/js/dsc-common.js"></script>
    <script type="text/javascript" src="__INDEX__/js/asyLoadfloor.js"></script>
	<script type="text/javascript" src="__INDEX__/js/jquery.purebox.js"></script>

    <script type="text/javascript" src="__INDEX__/js/common.js"></script>
    <script type="text/javascript" src="__INDEX__/js/compare.js"></script>
    <script type="text/javascript" src="__INDEX__/js/magiczoomplus.js"></script>
    <script type="text/javascript" src="__INDEX__/js/calendar.php?lang="></script>
    <script type="text/javascript" src="__INDEX__/js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="__INDEX__/js/goodsFittings.js"></script>



    <!-- login -->
    <script type="text/javascript" src="__INDEX__/js/user.js"></script>
    <script type="text/javascript" src="__INDEX__/js/user_register.js"></script>
    <script type="text/javascript" src="__INDEX__/js/sms.js"></script>


    <!-- cart_list -->
    <script type="text/javascript" src="__INDEX__/js/shopping_flow.js"></script>
    <script type="text/javascript" src="__INDEX__/js/jquery.nyroModal.js"></script>
    <script type="text/javascript" src="__INDEX__/js/region.js"></script>
    <script type="text/javascript" src="__INDEX__/js/checkAll.js"></script>   

    <!-- category -->
    <script type="text/javascript" src="./js/jd_choose.js"></script>

    <!-- m_index -->
    <script type="text/javascript" src="./js/jquery.validation.min.js"></script>
    <script type="text/javascript" src="./js/ZeroClipboard.js"></script>

