<div class="visual-item" data-mode="lunbo" data-purebox="banner" data-li="1" data-length="5" ectype="visualItme" style="display: block;" data-diff="0">
    <div class="view">
        <div class="banner home-banner">
            <div class="bd">
                <ul data-type="range" data-slide="fold" style="position: relative; width: 1903px; height: 500px;">
                    <li style="background-image: url(&quot;https://demo.dscmall.cn/data/gallery_album/1/original_img/1536773209297708549.jpg&quot;); background-position: center center; background-repeat: no-repeat; position: absolute; width: 1903px; left: 0px; top: 0px; display: none;">
                        <div class="banner-width">
                            <a href="" target="_blank" style="height:500px;"></a>
                        </div>
                    </li>
                    <li style="background-image: url(&quot;https://demo.dscmall.cn/data/gallery_album/2/original_img/1494984992503176615.jpg&quot;); background-position: center center; background-repeat: no-repeat; position: absolute; width: 1903px; left: 0px; top: 0px; display: none;">
                        <div class="banner-width">
                            <a href="" target="_blank" style="height:500px;"></a>
                        </div>
                    </li>
                    <li style="background-image: url(&quot;https://demo.dscmall.cn/data/gallery_album/2/original_img/1494984991783527346.jpg&quot;); background-position: center center; background-repeat: no-repeat; position: absolute; width: 1903px; left: 0px; top: 0px;">
                        <div class="banner-width">
                            <a href="" target="_blank" style="height:500px;"></a>
                        </div>
                    </li>
                </ul>
                <div class="spec" data-spec=""></div>
            </div>
            <div class="hd"><ul><li class="">1</li>
                <li class="">2</li>
                <li class="on">3</li>
            </ul>
        </div>
        <div class="vip-outcon">
            <div class="vip-con">
                <div class="insertVipEdit" data-mode="insertVipEdit">
                    <div ectype="user_info">
                        <div class="avatar">
                            <a href="https://demo.dscmall.cn/user.php?act=profile">
                                <img src="__INDEX__/css/avatar.png">
                            </a>
                        </div>
                        <div class="login-info">
                            <span>Hi，欢迎来到大商创!</span>
                            <a href="https://demo.dscmall.cn/user.php" class="login-button">请登录</a>
                            <a href="https://demo.dscmall.cn/merchants.php" target="_blank" class="register_button">我要开店</a>
                        </div>
                        <input type="hidden" name="user_id" ectype="user_id" value="0">
                    </div>
                    <div class="vip-item">
                        <div class="tit">
                            <a href="javascript:void(0);" class="tab_head_item">公告</a>
                            <a href="javascript:void(0);" class="tab_head_item">促销</a>
                        </div>
                        <div class="con">
                            <ul>
                                <li><a href="https://demo.dscmall.cn/article.php?id=63" target="_blank">服务店突破2000多家</a></li>
                                <li><a href="https://demo.dscmall.cn/article.php?id=62" target="_blank">我们成为中国最大家电零售B2B2C系统</a></li>
                                <li><a href="https://demo.dscmall.cn/article.php?id=61" target="_blank">三大国际腕表品牌签约</a></li>
                            </ul>
                            <ul style="display:none;">
                                <li><a href="https://demo.dscmall.cn/article.php?id=60" target="_blank">春季家装季，家电买一送一</a></li>
                                <li><a href="https://demo.dscmall.cn/article.php?id=59" target="_blank">抢百元优惠券，享4.22%活期</a></li>
                                <li><a href="https://demo.dscmall.cn/article.php?id=58" target="_blank">Macbook最高返50000消费豆！</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="vip-item">
                        <div class="tit">快捷入口</div>
                        <div class="kj_con">
                            <div class="item item_1">
                                <a href="https://demo.dscmall.cn/history_list.php" target="_blank">
                                    <i class="iconfont icon-browse"></i>
                                    <span>我的浏览</span>
                                </a>
                            </div>
                            <div class="item item_2">
                                <a href="https://demo.dscmall.cn/user.php?act=collection_list" target="_blank">
                                    <i class="iconfont icon-zan-alt"></i>
                                    <span>我的收藏</span>
                                </a>
                            </div>
                            <div class="item item_3">
                                <a href="https://demo.dscmall.cn/user.php?act=order_list" target="_blank">
                                    <i class="iconfont icon-order"></i>
                                    <span>我的订单</span>
                                </a>
                            </div>
                            <div class="item item_4">
                                <a href="https://demo.dscmall.cn/user.php?act=account_safe" target="_blank">
                                    <i class="iconfont icon-password-alt"></i>
                                    <span>账号安全</span>
                                </a>
                            </div>
                            <div class="item item_5">
                                <a href="https://demo.dscmall.cn/user.php?act=affiliate" target="_blank">
                                    <i class="iconfont icon-share-alt"></i>
                                    <span>我要分享</span>
                                </a>
                            </div>
                            <div class="item item_6">
                                <a href="https://demo.dscmall.cn/merchants.php" target="_blank">
                                    <i class="iconfont icon-settled"></i>
                                    <span>商家入驻</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spec" data-spec=""></div>
            </div>
        </div>
    </div>
</div>