<div class="categorys <?php if(!isset($show)) {echo 'site-mast';}  ?>">
    <div class="categorys-type"><a href="#" target="_blank">全部商品分类</a></div>
    <div class="categorys-tab-content shownav">
    	<div class="categorys-items" id="cata-nav">
    		{volist name="shopcateRes" id="shopcate"}
            <div class="categorys-item" ectype="cateItem" data-id="{$shopcate.shopcate_id}" data-eveval="0">
		        <div class="item item-content">
		    		<i class="iconfont icon-ele"></i>
		    		<div class="categorys-title">
		                <strong><a href="#" target="_blank">{$shopcate.shopcate_name}</a></strong>
		            	<span>
		            		{volist name="shopcate['children']" id="son_shopcate"}
		            		{if condition="$i lt 3"}
		            		<a href="#" target="_blank">{$son_shopcate.shopcate_name}</a>
		            		{/if}
		            		{/volist}
		            	</span>
		            </div>
		        </div>
		        <div class="categorys-items-layer" ectype="cateLayer">
		        	<div class="cate-layer-con clearfix">
		        		<div class="cate-layer-left">
		        			<div class="cate_channel" ectype="channels_{$shopcate.shopcate_id}"></div>
		        			<div class="cate_detail" ectype="subitems_{$shopcate.shopcate_id}"></div>
		        		</div>
		        		<div class="cate-layer-rihgt" ectype="brands_{$shopcate.shopcate_id}"></div>
		        	</div>
		        </div>
		        <div class="clear"></div>
		    </div>
			{/volist}
		</div>
	</div>
</div>