{include file="common/_meta"}
<body class="bg-ligtGary" data-type="category1">
	<div class="site-nav" id="site-nav">
	    <div class="w w1200">
	    	{include file="common/site-nav"}
	    </div>
	</div>
	<div class="header">
	    <div class="w w1200">
	        {include file="common/header"}
	    </div>
	</div>
<div class="nav dsc-zoom" ectype="dscNav">
    <div class="w w1200">
        {include file="common/nav"}
    </div>
</div>
<div class="content article-content">
    <div class="w w1200 clearfix">
        <div class="article-side">
            <dl class="article-menu">
                <dt class="am-t"><a href="#">文章分类列表</a></dt>
                <dd class="am-c">
<div class="menu-item active">
    <div class="item-hd"><a href="">系统分类</a><i class="iconfont icon-down"></i></div>
        <ul class="item-bd">
            </ul>
        <ul class="item-bd">
                <li><a href="#">新手上路 </a></li>
                <li><a href="#">配送与支付 </a></li>
                <li><a href="#">服务保证 </a></li>
                <li><a href="#">联系我们 </a></li>
                <li><a href="#">会员中心</a></li>
            </ul>
    </div>
                </dd>
                
                <dd class="am-c">
<div class="menu-item active">
    <div class="item-hd"><a href="#">3G资讯</a><i class="iconfont icon-down"></i></div>
    <ul class="item-bd">
            </ul>
</div>
<div class="menu-item active">
    <div class="item-hd"><a href="#">站内快讯</a><i class="iconfont icon-down"></i></div>
    <ul class="item-bd">
            </ul>
</div>
<div class="menu-item active">
    <div class="item-hd"><a href="#">商城公告</a><i class="iconfont icon-down"></i></div>
    <ul class="item-bd">
            </ul>
</div>
<div class="menu-item active">
    <div class="item-hd"><a href="#">商家入驻流程说明</a><i class="iconfont icon-down"></i></div>
    <ul class="item-bd">
            </ul>
</div>
<div class="menu-item active">
    <div class="item-hd"><a href="#">商家入驻商家说明</a><i class="iconfont icon-down"></i></div>
    <ul class="item-bd">
            </ul>
</div>
<div class="menu-item active">
    <div class="item-hd"><a href="#">App</a><i class="iconfont icon-down"></i></div>
    <ul class="item-bd">
                <li><a href="#">ios</a></li>
            </ul>
</div>
<div class="menu-item active">
    <div class="item-hd"><a href="#">发票问题</a><i class="iconfont icon-down"></i></div>
    <ul class="item-bd">
            </ul>
</div>
<div class="menu-item active">
    <div class="item-hd"><a href="#">公告</a><i class="iconfont icon-down"></i></div>
    <ul class="item-bd">
            </ul>
</div>
<div class="menu-item active">
    <div class="item-hd"><a href="#">促销</a><i class="iconfont icon-down"></i></div>
    <ul class="item-bd">
            </ul>
</div>
<div class="menu-item active">
    <div class="item-hd"><a href="#">微分销</a><i class="iconfont icon-down"></i></div>
    <ul class="item-bd">
            </ul>
</div>
                </dd>
                
            </dl>
</div>
        <div class="article-main">
            <div class="am-hd">
                <h2>新手上路 </h2>
                <div class="mod-list-sort fr mt10">
                <form action="" name="search_form" method="post" class="article_search">
<div class="f-search">
    <input name="keywords" type="text" id="requirement" value="" class="text" placeholder="请填写搜索内容" />
    <input name="id" type="hidden" value="5" />
    <input name="cur_url" id="cur_url" type="hidden" value="" />
    <input type="submit" value="立即搜索" class="btn sc-redBg-btn ui-btn-submit" />
</div>
                </form>
                </div>
            </div>
            
            <div class="am-bd">
                <ul class="artilce-list">
<li>
    <h3><a href="#" title="隐私声明">隐私声明</a></h3>
    <p></p>
</li>
<li>
    <h3><a href="#" title="订购方式">订购方式</a></h3>
    <p></p>
</li>
<li>
    <h3><a href="#" title="购物流程">购物流程</a></h3>
    <p></p>
</li>
<li>
    <h3><a href="#" title="售后流程">售后流程</a></h3>
    <p></p>
</li>
                </ul>
            </div>
            
<script type="Text/Javascript" language="JavaScript">
<!--
function selectPage(sel)
{
  sel.form.submit();
}
//-->
</script>
        </div>
        
    </div>
</div>
	<div class="footer-new">
    	{include file="common/footer"}
	</div>

{include file="common/_footer"}

<script type="text/javascript">
	document.getElementById('cur_url').value = window.location.href;
</script>
<script type="text/javascript">
	$(function(){
		$(".article-side .side-goods").slide({
			effect: 'leftLoop'
		});
	});
</script>
</body>
</html>
