{include file="/common/_meta"}
</head>
<body>
{include file="/common/top"}
<div class="main-container container-fluid">
    <div class="page-container">
                    <!-- Page Sidebar -->
       {include file="/common/list"}
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                   <li>
                        <a href="#">系统</a>
                    </li>
                    <li>
                        <a href="{:url('shopcate/lst')}">商品管理</a>
                    </li>
                    <li class="active">新增商品分类</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->

            <!-- Page Body -->
            <div class="page-body">
                
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">新增商品分类</span>
                            </div>
                            <div class="widget-body">
                                <div id="horizontal-form">
                                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="shopcate_id" value="{$shopcateedit.shopcate_id}">
                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">上级商品分类</label>
                                            <div class="col-sm-6">
                                                <select name="shopcate_pid">
                                                    <option>顶级商品分类</option>
                                                    {volist name="shopcatelist" id="shopcate"}
                                                    <option {if condition="$shopcateedit['shopcate_pid'] eq $shopcate['shopcate_id']"} selected="selected" {/if} value="{$shopcate.shopcate_id}" ><?php echo str_repeat('-',$shopcate['lever']*8)?>{$shopcate.shopcate_name}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">商品分类名称</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="username" placeholder="" name="shopcate_name"  type="text" value="{$shopcateedit.shopcate_name}">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">Icon</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="username" placeholder="" name="shopcate_icon"  type="text" value="{$shopcateedit.shopcate_icon}">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">推荐位分类颜色</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="username" placeholder="" name="shopcate_color"  type="text" value="{$shopcateedit.shopcate_color}">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">推荐位</label>

                                            <div class="col-sm-6">
                                                {volist name="shopCateRecpos" id="shopcaterec"}
                                                <?php 
                                                    if(in_array($shopcaterec['rec_id'],$sshopCateRecpos)){
                                                        $checked = 'checked="checked"';
                                                    }
                                                    else{
                                                        $checked = '';
                                                
                                                    }
                                                ?>
                                                <label style="padding-left: 5px;">
                                                    <input type="checkbox" {$checked} name="recpos[]" value="{$shopcaterec.rec_id}" class="colored-blue">
                                                    <span class="text">{$shopcaterec.rec_name}</span>
                                                </label>
                                                {/volist}
                                            </div>
                                            
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">商品图片</label>
                                            <div class="col-sm-6">
                                                <input name="shopcate_img" type="file">
                                                {if condition="$shopcateedit['shopcate_img'] neq ''"}
                                                <img src="__UPLOADS__/{$shopcateedit.shopcate_img}" height="30">
                                                {else/}
                                                暂无图片
                                                {/if}
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>

                                        

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">关键词</label>
                                            <div class="col-sm-6">
                                                <textarea class="form-control" name="shopcate_keywords">{$shopcateedit.shopcate_keywords}</textarea>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">描述</label>
                                            <div class="col-sm-6">
                                                <textarea class="form-control" name="shopcate_description">{$shopcateedit.shopcate_description}</textarea>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">状态</label>
                                            <div class="col-sm-6">
                                                <div class="radio" style="float: left; padding-right: 10px;">
                                                    <label>
                                                        <input value="1" name="shopcate_showshopcate" {if condition="$shopcateedit['shopcate_showshopcate'] eq 1"} checked="checked" {/if} class="colored-blue"  type="radio">
                                                        <span class="text">显示</span>
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input value="0" name="cate_showcates" {if condition="$shopcateedit['shopcate_showshopcate'] eq 0"} checked="checked" {/if} class="colored-blue" type="radio">
                                                        <span class="text">隐藏</span>
                                                    </label>
                                                </div>

                                            </div>

                                        </div>

                                       
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-default">保存信息</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>  
</div>

{include file="common/_footer"}
</body>
</html>