{include file="/common/_meta"}
</head>
<body>
{include file="/common/top"}
<div class="main-container container-fluid">
	<div class="page-container">
		            <!-- Page Sidebar -->
       {include file="/common/list"}
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                   <li>
                        <a href="#">系统</a>
                    </li>
                    <li>
                        <a href="{:url('shopcate_brand/lst')}">关联管理</a>
                    </li>
                    <li class="active">添加关联品牌</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->

            <!-- Page Body -->
            <div class="page-body">

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">新增关联品牌</span>
                            </div>
                            <div class="widget-body">
                                <div id="horizontal-form">
                                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">顶级栏目关联品牌</label>
                                            <div class="col-sm-6">
                                                <select name="cb_shopcateid">
                                                    {volist name="shopcateRes" id="scate"}
                                                    <option value="{$scate.shopcate_id}">{$scate.shopcate_name}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">关联品牌</label>
                                            <div class="col-sm-6">
                                                {volist name='brandRes' id='brand'}
                                                <label style="padding-left: 5px;">
                                                    <input type="checkbox" name="cb_brandid[]" value="{$brand.brand_id}" class="colored-blue">
                                                    <span class="text">{$brand.brand_name}</span>
                                                </label>
                                                {/volist}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">推广图</label>
                                            <div class="col-sm-6">
                                                <input id="username" name="cb_proimg" type="file">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">推广图链接</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="username" name="cb_prourl" type="text">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label no-padding-right">状态</label>
                                            <div class="col-sm-6">
                                                <div class="radio" style="float: left; padding-right: 10px;">
                                                    <label>
                                                        <input value="1" name="cb_status" checked="checked" class="colored-blue"  type="radio">
                                                        <span class="text">显示</span>
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input value="0" name="cb_status" class="colored-blue" type="radio">
                                                        <span class="text">隐藏</span>
                                                    </label>
                                                </div>

                                            </div>

                                        </div>


                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-default">保存信息</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
	</div>
</div>

{include file="common/_footer"}
</body>
</html>